.form{
    margin: 0 200px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.form-section{
    display:block;
   
}

label{
    display:inline-block;
    clear:both;
    
}

input{
    display: inline-block;
    margin-bottom: 10px;
    
}

.card {
    background-color: aquamarine;
}

.form-main{
    padding: 3%;
    padding-top: 0%;
    border: 1px solid black;
}

h2 {
    padding-left: 20px;
}


.input-boxes {
    margin-left: 5%;

}

.form-section {
    margin-top: 2%;
}